.ui.attached.stackable.menu
  .ui.container
    %a.item
      %i.home.icon
      Home
    %a.item
      %i.grid.layout.icon
      Browse
    %a.item
      %i.mail.icon
      Messages
    .ui.simple.dropdown.item.right
      %img.ui.mini.circular.image{:src => "/assets/elyse.png"}
        .content
          .ui.sub.header Elyse
          Land Master Agent
      %i.dropdown.icon
      .menu
        %a.item
          %i.edit.icon
          Edit Profile
        %a.item
          %i.globe.icon
          Choose Language
        %a.item
          %i.settings.icon
          Account Settings



