.ui.raised.segment
  %p Welcome, to spotmyrealty!


.ui.ordered.steps
  .completed.step
    .content
      .title Sign Up
      .description Choose your username
  .completed.step
    .content
      .title Post
      .description Enter listing information
  .active.step
    .content
      .title Confirm Posting
      .description Verify posting details
